* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f6f3;
}

.heading-block {
  border: solid thin transparent;
  width: auto;
  background-color: #a6b28b9c;
  position: sticky;
  top: 0;
}

.heading-block h1 {
  background-color: transparent;
}

.heading-text {
  margin-left: 8px;
  color: #1c352d;
}

.article-body {
  /* overflow: hidden; */
  contain: paint;
}

.section-heading {
  margin-left: 8px;
  color: #1c352dd0;
  /* overflow: hidden; */
}

.section-content {
  margin: 8px;
  /* overflow: hidden; */
}

.recipe-item {
  border: 4px solid #f7eee69f;
  margin-top: 2px;
  background-color: #f7eee69f;
}

/* Targets all the anchor tags within the .recipe-item class*/
.recipe-item a {
  text-decoration: none;
  color: #f38b4e;
  margin-left: 8px;
}
