* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.heading-block {
  border: 4px solid #a6b28b11;
  width: auto;
  background-color: #a6b28b9c;
}

.heading-text {
  margin-left: 8px;
  color: #1c352d;
}

.section-heading {
  margin-left: 8px;
  color: #1c352dd0;
}



.recipe-item {
  border: 4px solid #f7eee69f;
  margin-top: 2px;
  background-color: #f7eee69f;
}

/* Targets all the anchor tags within the .recipe-item class*/
.recipe-item a {
  text-decoration: none;
  color: #f38b4e;
  margin-left: 8px;
}
